*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.nav__top{
    width: 100%;
    height: 50px;
    background: whitesmoke;
}
.top__collection{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 20px 25px;
    color: rgb(95, 94, 94);
    font-size: 15px;

}
.d{
    width:1090px;
}
.top__icons{
    display: flex;
    gap: 5px;
    justify-content: end;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
}
.nav__collections{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: 400px;
    font-size: 18px;

}
.f{
    width: 355px;
}
.banner__image{
    overflow: hidden;
}
.banner__image img{
    width: 100%;
    height: 500px;

}
.boxes{
    display: flex;
    justify-content:space-between;
    margin: 5% 5%;
}
.box{
    width: 220px;
    height: 220px;
}
.box img{
    width: 100%;
}
.box p{
    text-align: center;
}
.bs{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}
.bx{
    width: 49%;
    height: 350px;
}
.bx img{
    width: 100%;
}